{% load static %}
</html>
{% block header %}
<title>{% block title %}Previsora del Norte | Ingresar {% endblock %}</title>
<link rel="icon" type="image/png"  href="{% static 'sitio/img/logo-previsora.png' %}">
<link rel="stylesheet" href="{% static 'sitio/css/estilo.css' %}">
<script async defer src="https://buttons.github.io/buttons.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
<body>
<div class="header" style="background-image: url({% static 'sitio/img/Formosa-4.png' %});">
  			<a href="/" ><img src="{% static 'sitio/img/logo-pagina.png' %}" style="width: 300px; height: 100px;"/></a>
  			<div class="direccion">
  				<img src="{% static 'sitio/img/icono-ubica.png' %}" />
  				<a href="https://goo.gl/maps/kMesM1AgdZk85Lvz5" target="blank">Dean Funes 655 - Formosa, Argentina</a>
  			</div>
</div>  			
<div class="contenedor"> 		
	<div class="contenido" id="contenedor-login">
	<div class="form_box">
		<div class="fakeimg" style="background-color: #2d487d; color: white;">		
		<div id="centrado">
		<a href="{% url 'home' %}" ><img src="{% static 'sitio/img/logo-previsora-w.png' %}" style="width: 60px; height: 60px;"></a><br>
		<BR>
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
        <p style="font-size: 20px;">Usuario:</p> 
        {{ form.username }}
        <BR>
        <p style="font-size: 20px">Contraseña:</p>
        {{ form.password }}
        <BR>
			{% if form.errors %}
        		<p style="font-size: 16px; color: red;">Su usuario o clave no coinciden!</p>
			{% endif %}
        <BR><p><a href="{% url 'registro' %}" style="font-size: 12px; text-decoration: none; color: red;">Eres usuario nuevo? Registrate ahora</a></p>
        <button>INGRESAR</button>
        <p><a href="{% url 'recuperar' %}" style="font-size:12px; color: whitesmoke;">Olvidaste tu clave?</a></p>
        <input type="hidden" name="next" value="{{ next }}" />
		</form>
		</div>
		</div>
		<br>
	</div>
  </div>
</div>

{% block footer %}
<div class="footer">
	<div class="pie-colum">
		<div id="caja-pie">
			<p>
			<div class="share-iconos">
				<strong>Visita nuestras redes:</strong><br><br>
				<a href="https://www.facebook.com/laprevisoradelnorte" target="blank"><img src="{% static 'sitio/img/face.png' %}"></a>
				<a href="" ><img src="{% static 'sitio/img/tweeter.png' %}" alt=""></a>
				<a href="" ><img src="{% static 'sitio/img/instagram.png' %}" alt=""></a>
			</div>
			</p>
			<p>La Previsora del Norte S.R.L<br><br><span class="copyleft">&copy;</span>Copyleft {% now 'Y' %}</p>
			<div class="direccion-bottom"><img src="{% static 'sitio/img/ubica-icono.png' %}" style="width: 30px; height: 30px;" /><a href="https://goo.gl/maps/kMesM1AgdZk85Lvz5" target="blank"> Dean Funes 655 - Formosa, Argentina</a>
  			</div>
		</div>
	</div>
</div> 

{% endblock %}
</body>
</html>
