{% extends 'sitio/index.html' %}
{% block title %}CALCULA TU PLAN{% endblock %}
{% load custom_tags %}
{% load static %}
{% block content %}
<div class="row">
	<div class="centercolumn">
		<div class="leftcolumn">
			<div class="card">
			<div id="centrado">
			<div class="form_box">
				<div class="fakeimg" style="background-color: #2d487d; color: white;">
					{% if plan %}
					{% titulo 'True' %}{{ titulo | upper }}{% endtitulo %}
					<img src="" alt="">
					{% render_post plan %}
					<br><br>
					{% if user.usename %}
					<a href="{% url 'afiliacion' %}?plan={{ plan_id }}"><button>SOLICITAR PLAN</button></a>
					{% else %}
					<p>Registrate al sitio para poder realizar tu afiliación</p>
					<a href="{% url 'registro' %}"><button>REGISTRARSE AHORA</button></a>
					{% endif %}
					<br>
					<br>
			{% else %}
					{% titulo 'True' %}CONOCE TU PLAN{% endtitulo %}
					<img src="{% static 'sitio/img/gestion.jpeg' %}" alt="Información">
					<p>Consulta en nuestra base de datos por el plan disponible para ti</p>
					<p>Solo ingresa <strong>tu edad</strong> en el siguiente formulario y presiona el botón calcular</p>
					<p>Podrás ver información sobre el mismo y realizar una solicitud específica.</p>
			{% endif %}
				</div>
			</div>
			<br>
			</div>	
			</div>		
		</div>
		</div>
		<div class="rightcolumn">
			<div class="form_box">
				<div class="fakeimg" style="background-color: #2d487d; color: white;">
					{% titulo 'True' %}{{ user.username }}{% endtitulo %}
					<div id="centrado">
						<p>* Al ingresar tu edad y presionar el boton <strong>'CALCULAR'</strong> se te proporcionara el plan de afiliado correspondiente.</p>
						<p>Debe ingresar una edad valida <strong>"1 a 90"</strong></p>
						<form method="POST">
						<input/ placeholder="(*) TU EDAD" name="edad">
						{% csrf_token %}
						<br><br>
						<button>CALCULAR</button>
						</form>
					</div>
				</div>			
			</div>
			<div class="card">
				<div class="fakeimg">
	 			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3580.45302235186!2d-58.171458!3d-26.1819376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945ca5e7aad160c7%3A0xb23fe3e02718f644!2sDean%20Funes%20665%2C%20P3600GWB%20Formosa!5e0!3m2!1ses-419!2sar!4v1595211252546!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>			</div>	
				</div>
		</div>	
</div>
{% endblock %}